//@import "bootstrap-compass";
@import "_variables";
@import "bootstrap";
//@import "compass";

//Fonts
// @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
// @import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@font-face {
    font-family: 'DF Shin Ten';
    src: url('../fonts/dfsintenw7_subset.eot'); /* IE9 Compat Modes */
    src: url('../fonts/dfsintenw7_subset.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dfsintenw7_subset.woff') format('woff'),
         url('../fonts/dfsintenw7_subset.ttf') format('truetype');
}


/**
 * Keyframe animation mixin.
 */
@mixin keyf($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  animation: $animation;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

/**
 * Card swing animation
 */
@include keyf(swing) {
  0% {
      @include rotate(0deg);
  }
  25% {
      @include rotate(-10deg);
  }
  100% {
      @include rotate(10deg);
  }
}
@for $i from 1 through 8 {
  $DELAY: $i * 0.5s;
  #pola_board a:nth-of-type(#{9 - $i}){
      @include animation(swing 1s ease $DELAY infinite alternate);
  }
}

body {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/bg5.jpg);
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
}
//language switch
*[lang=en], *[lang=ja] {
  &.lang-inactive {
    display: none !important;
  }
}

//For AdaptiveModal & TwtBootstrap Modal
.am-overlay, .modal {
  background-color: rgba(255, 255, 255, 0.7);
  .am-back, .modal-dialog {
    background-image: url(../images/denim.png) !important;
  }
  .am-modal-content, .ipp-modal-content {
    padding: 10px 15px 10px;
    color: #fff;
    font-weight: 200;
    // line-height: 26px;
    div[lang=en] {
      font-size: 17px;
      font-family: 'DF Shin Ten', cursive;
      // font-family: 'Noto Sans Japanese', cursive;
      h2 {
        font-size: 24px;
        font-weight: bolder;
        font-family: 'DF Shin Ten', cursive;
      }
    }
    div[lang=ja] {
      font-size: 16px;
      font-family: 'Noto Sans Japanese', cursive;
      h2 {
        font-size: 27px;
        font-family: 'DF Shin Ten', cursive;
      }
    }
    a {
      color: #BCB8C6;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
  }
}
.ipp-modal {
  width: 230px !important;
  height: 377px !important;
  .am-expanded.am-back {
    width: 230px;
    height: 377px;
    overflow: hidden;
  }
}
.am-modal.ipp-modal.am-flipped {
// .am-modal.ipp-modal.am-expanded {
  overflow: hidden !important;
  width: 230px !important;
  height: 377px !important;
  max-height: 377px !important;
  position: fixed !important;
  margin-left: 0px !important;
}

.site-wrapper {
  width: 100%;
  h1 {
    position: fixed;
    @include rotate(-25deg);
    width: 300px;
    @media screen and (max-width: 414px) {
      width: 200px;
    }
    top: -320px;
    left: -140px;
    z-index: 99;
    img {
      width: 100%;
    }
  }
  a {
    color: #BCB8C6;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
  .lang-btns {
    position: fixed;
    bottom: 80px;
    left: 30px;
    @media screen and (max-width: 414px) {
      bottom: 10px;
      left: 10px;
    }
    z-index: 1100;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    a {
      display: inline-block;
      margin: 0px 10px;
      &.btn-en {
        font-size: 24px;
        // font-family: 'Permanent Marker', cursive;
        font-family: 'DF Shin Ten', cursive;
      }
      &.btn-ja {
        font-size: 26px;
        font-family: 'DF Shin Ten', cursive;
      }
      &.active {
        color: #4682E8;
        cursor: default;
        &:hover {
          color: #4682E8;
        }
      }
    }
  }
  #pola_board {
    width: 800px;
    @media screen and (max-width: 414px) {
      width: 350px;
    }
    margin: 40px auto 130px;
    @media screen and (max-width: 414px) {
      margin-bottom: 50px;
    }
    .pitem {
      @include transform-origin(50% 9%);
      width: 230px;
      @media screen and (max-width: 414px) {
        width: 120px;
        &:last-child {
          display: none;
        }
      }
      border: solid 1px grey;
      background-color: rgba(0, 0, 0, 0); //This will become BG color of AdaptiveModal.
      img {
        width: 100%;
        position: relative;
        z-index: 1;
        + .overlay {
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: rgb(255, 255, 255);
          opacity: 0;
          border: solid 1px blue;
          z-index: 2;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .menu-title {
        margin-bottom: 0px;
        position: absolute;
        bottom: 15px;
        left: 5px;
        @media screen and (max-width: 414px) {
          bottom: 5px;
          left: 3px;
        }
        @include rotate(-5deg);
        font-size: 34px;
        line-height: 36px;
        letter-spacing: 0px;
        color: #1063E8;
        text-align: center;
        width: 100%;
        z-index: 3;
        &[lang=en] {
          font-size: 37px;
          @media screen and (max-width: 414px) {
            font-size: 25px;
          }
          font-family: 'DF Shin Ten', cursive;
        }
        &[lang=ja] {
          font-size: 37px;
          @media screen and (max-width: 414px) {
            font-size: 25px;
          }
          font-family: 'DF Shin Ten', cursive;
        }
      }
    }
  }
  /*** Flash intro elements ***/
  #flash-wrap {
    width: 100%;
    height: 100%;
    background-color:#000000;
    z-index:1110;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    #flash {
      background-color:#000000;
      width: 700px;
      height: 394px;
      margin: 80px auto 0;
      div#noflash-msg{
        text-align: left;
        color: #FFFFFF;
        overflow: hidden;
        padding: 100px 200px;
        display: none;
        img {
          float: left;
          margin: 10px 10px;
        }
      }
    }
    p {
      width: 700px;
      margin: 20px auto;
      text-align: right;
      a#enter {
        font:20px "DF Shin Ten", sans-serif;
        font-weight: bold;
        font-size: 28px;
      }
    }
  }
}
