//@import "bootstrap-compass";
@import "_variables";
@import "bootstrap";
//@import "compass";

//Font from Google fonts
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/swirl_pattern.png);
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
}
//AdaptiveModal default style overwrite.
.am-overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

.site-wrapper {
  width: 100%;
  h1 {
    position: absolute;
    @include rotate(-25deg);
    width: 300px;
    top: -120px;
    left: -20px;
    z-index: 100;
    img {
      width: 100%;
    }
  }
  #pola_board {
    width: 800px;
    margin: 0px auto;
    .pitem {
      width: 230px;
      border: solid 1px grey;
      background-color: #E8704E; //This will become BG color of AdaptiveModal.
      img {
        width: 100%;
      }
      .menu-title {
        margin-bottom: 0px;
        position: absolute;
        bottom: 60px;
        left: 10px;
        @include rotate(-25deg);
        font-size: 50px;
        color: #1063E8;
        font-family: 'Permanent Marker', cursive;
      }
    }
  }
  //For AdaptiveModal & TwtBootstrap Modal
  .ipp-modal {
    width: 80%;
    height: 60%;
  }
}
