<!-- flash movie layer-->
<div id="flash-wrap">
    <h1>This is the Intro!</h1>
    <div id="flash">
        <div id="noflash-msg">
            <img src="<?php echo site_url('img/flashplayer_100x100.jpg');?>" alt="Flash player"/>
            <h3>Get Adobe Flash Player</h3>
            <p>You must have the latest Flash player installed to see this website correctly. </p>
            <p>You can <a href="http://get.adobe.com/flashplayer/" alt="dowonlod Flash player" target="_blank">download it here</a>.</p>
        </div>
    </div>
    <p><a href="" id="enter" alt="Enter Ippuku">Enter Ippuku</a></p>
</div>
