---
_options:
  layout: app/layouts/layout.hbs
---
<div style="margin: 150px auto; width: 400px; text-align: center;">
  <h2 style="margin-bottom: 100px;">Page not found.</h2>
  <p><a href="http://www.ippukuberkeley.com" style="font-size: 20px; font-weight: bold; color:blue; text-decoration: underline;" title="Ippuku homepage is here.">Ippuku homepage is here.</a></p>
</div>
