---
_options:
  layout: app/layouts/layout.hbs
  partials:
    - app/partials/intro.hbs
    - app/partials/modal.hbs
    - app/partials/yakitori.en.md
    - app/partials/yakitori.ja.md
    - app/partials/soba.en.md
    - app/partials/soba.ja.md
    - app/partials/bar.en.md
    - app/partials/bar.ja.md
    - app/partials/sweets.en.md
    - app/partials/sweets.ja.md
    - app/partials/location.en.md
    - app/partials/location.ja.md
    - app/partials/reservations.en.md
    - app/partials/reservations.ja.md
    - app/partials/menu.en.md
    - app/partials/menu.ja.md
    - app/partials/factoids.en.md
    - app/partials/factoids.ja.md
title: Ippuku | Yakitori, Soba and Shochu. Izakaya style dinner in Berkeley, CA!

modal_contents:
  yakitori:
    en: yakitori.en
    ja: yakitori.ja
  soba:
    en: soba.en
    ja: soba.ja
  bar:
    en: bar.en
    ja: bar.ja
  sweets:
    en: sweets.en
    ja: sweets.ja
  location:
    en: location.en
    ja: location.ja
  reservations:
    en: reservations.en
    ja: reservations.ja
  menu:
    en: menu.en
    ja: menu.ja
  factoids:
    en: factoids.en
    ja: factoids.ja
---
<h1>
  <img src="/pola/9.jpg" alt="{{title}}"/>
</h1>
<div class="lang-btns">
  <a class="btn-en active">English</a>
  <a class="btn-ja">日本語</a>
</div>
<div id="pola_board">
  {{!--
  Hide 1 pola cause it is not divisible by 4.
  <img src="/pola/16.jpg" alt="" class="pitem" />
  --}}
  {{!-- Note: These pola order is upside down!! --}}
  <img src="/pola/34.jpg" alt="" class="pitem" />
  <img src="/pola/3.jpg" alt="" class="pitem"/>
  <img src="/pola/2.jpg" alt="" class="pitem" />
  <img src="/pola/13.jpg" alt="" class="pitem" />
  <img src="/pola/50.jpg" alt="" class="pitem" />
  <img src="/pola/7.jpg" alt="" class="pitem" />
  <a href="#reservations" class="pitem" data-am-custom-class="ipp-modal" title="">
    <img src="/pola/37.jpg" alt="" />
    <div class="overlay"></div>
    <p class="menu-title" lang="en">Reservations</p>
    <p class="menu-title" lang="ja">ご予約</p>
  </a>
  <img src="/pola/14.jpg" alt="" class="pitem" />
  <img src="/pola/15.jpg" alt="" class="pitem"/>
  {{!-- <a href="#menu" class="pitem" data-am-custom-class="ipp-modal" title="">
    <img src="/pola/17.jpg" alt="" />
    <div class="overlay"></div>
    <p class="menu-title" lang="en">Menu</p>
    <p class="menu-title" lang="ja">メニュー</p>
  </a> --}}
  <img src="/pola/18.jpg" alt="" class="pitem" />
  <img src="/pola/44.jpg" alt="" class="pitem" />
  <img src="/pola/17.jpg" alt="" class="pitem" />
  <img src="/pola/20.jpg" alt="" class="pitem" />
  <img src="/pola/21.jpg" alt="" class="pitem" />
  <img src="/pola/22.jpg" alt="" class="pitem"/>
  <a href="#location" class="pitem" data-am-custom-class="ipp-modal" title="">
    <img src="/pola/12.jpg" alt="" />
    <div class="overlay"></div>
    <p class="menu-title" lang="en">Location</p>
    <p class="menu-title" lang="ja">アクセス</p>
  </a>
  <img src="/pola/1.jpg" alt="" class="pitem" />
  <img src="/pola/24.jpg" alt="" class="pitem" />
  <img src="/pola/25.jpg" alt="" class="pitem" />
  <a href="#factoids" class="pitem" data-am-custom-class="ipp-modal" title="">
    <img src="/pola/5.jpg" alt="" />
    <div class="overlay"></div>
    <p class="menu-title" lang="en">What's going on here?</p>
    <p class="menu-title" lang="ja">お店について</p>
  </a>
  <img src="/pola/28.jpg" alt="" class="pitem" />
  <img src="/pola/8.jpg" alt="" class="pitem" />
  <img src="/pola/29.jpg" alt="" class="pitem" />
  <img src="/pola/30.jpg" alt="" class="pitem" />
  <img src="/pola/48.jpg" alt="" class="pitem" />
  <img src="/pola/33.jpg" alt="" class="pitem" />
  <img src="/pola/6.jpg" alt="" class="pitem" />
  <a href="#sweets" class="pitem" data-am-custom-class="ipp-modal" title="">
    <img src="/pola/23.jpg" alt=""/>
    <div class="overlay"></div>
    <p class="menu-title" lang="en">Sweets</p>
    <p class="menu-title" lang="ja">スイーツ</p>
  </a>
  <img src="/pola/31.jpg" alt="" class="pitem" />
  <img src="/pola/41.jpg" alt="" class="pitem" />
  <img src="/pola/11.jpg" alt="" class="pitem" />
  <a href="#bar" class="pitem" data-am-custom-class="ipp-modal" title="">
    <img src="/pola/51.jpg" alt="" class="" />
    <div class="overlay"></div>
    <p class="menu-title" lang="en">Bar</p>
    <p class="menu-title" lang="ja">Bar</p>
  </a>
  <img src="/pola/26.jpg" alt="" class="pitem" />
  <img src="/pola/42.jpg" alt="" class="pitem" />
  <img src="/pola/32.jpg" alt="" class="pitem" />
  <img src="/pola/53.jpg" alt="" class="pitem" />
  <img src="/pola/49.jpg" alt="" class="pitem" />
  <img src="/pola/47.jpg" alt="" class="pitem" />
  <a href="#soba" class="pitem" data-am-custom-class="ipp-modal" title="">
    <img src="/pola/27.jpg" alt="" />
    <div class="overlay"></div>
    <p class="menu-title" lang="en">Teuchi Soba</p>
    <p class="menu-title" lang="ja">手打ちそば</p>
  </a>
  <img src="/pola/43.jpg" alt="" class="pitem" />
  <img src="/pola/40.jpg" alt="" class="pitem" />
  <img src="/pola/10.jpg" alt="" class="pitem" />
  <img src="/pola/35.jpg" alt="" class="pitem"/>
  <img src="/pola/38.jpg" alt="" class="pitem" />
  <img src="/pola/45.jpg" alt="" class="pitem" />
  <img src="/pola/52.jpg" alt="" class="pitem" />
  <img src="/pola/55.jpg" alt="" class="pitem" />
  <a href="#yakitori" class="pitem" data-am-custom-class="ipp-modal" title="">
    <img src="/pola/54.jpg" alt=""/>
    <div class="overlay"></div>
    <p class="menu-title" lang="en">Yakitori</p>
    <p class="menu-title" lang="ja">焼き鳥</p>
  </a>
  <img src="/pola/19.jpg" alt="" class="pitem" />
  <img src="/pola/4.jpg" alt="" class="pitem" />
  <img src="/pola/36.jpg" alt="" class="pitem" />
  <img src="/pola/46.jpg" alt="" class="pitem" />
  {{!--  Note: These pola order is upside down!! --}}
</div>
{{#each modal_contents}}
  {{> modal}}
{{/each}}
{{> intro}}
